<app-sidebar></app-sidebar>
<div class="max-w-full mx-auto p-10">
    <div class="flex justify-between">
        <a [routerLink]="['/']">
            <img src="/assets/images/spg-logo.svg" alt="SPG Logo" class="w-[150px]">
        </a>
        <div class="ms-auto flex items-center">
            @if(userService.currentUser() === undefined){

            <app-logged-out-functionality></app-logged-out-functionality>

            }@else {

            <app-logged-in-functionality [user]="userService.currentUser()!"></app-logged-in-functionality>
            
            }
        </div>

    </div>
</div>