<div class="max-w-full mx-auto p-10">
    <div class="flex justify-between">
        <a [routerLink]="['/']">
            <img src="/assets/images/spg-logo.svg" alt="SPG Logo" class="w-[150px]">
        </a>

        @if(userService.isLoggedIn){
            <div class="ms-auto flex items-center">
                <app-logged-in-functionality></app-logged-in-functionality>
            </div>
        }@else {
            <div class="ms-auto flex items-center">
                <app-logged-out-functionality></app-logged-out-functionality>
            </div>
             
        }
        
    </div>
</div>