<div class="max-w-7xl mx-auto">
    <h1 class="text-3xl mt-8 mb-4 font-extrabold">Create Mentor</h1>

    <form [formGroup]="createPostForm" (ngSubmit)="onFormSubmit()">
        <div class="grid grid-cols-2 gap-4">
            <div class="">
                <label for="title" class="w-full">Firt Name</label>
                <input type="text" class="bg-neutral-100 w-full px-4 py-2 mt-2" placeholder="Enter First Name"
                    autocomplete="off" formControlName="firstname">
            </div>
            <div class="">
                <label for="title" class="w-full">Last Name</label>
                <input type="text" class="bg-neutral-100 w-full px-4 py-2 mt-2" placeholder="Enter Last Name"
                    autocomplete="off" formControlName="lastname">
            </div>

        </div>
        <div class="grid grid-cols-2 gap-4 mt-5">
            <div class="">
                <label for="title" class="w-full">Program</label>
                <input type="text" class="bg-neutral-100 w-full px-4 py-2 mt-2" placeholder="Enter Program Name"
                    autocomplete="off" formControlName="program">
            </div>
            <div class="">
                <label for="title" class="w-full">No of Member</label>
                <input type="number" class="bg-neutral-100 w-full px-4 py-2 mt-2" placeholder="" autocomplete="off" formControlName="numOfMentor">
            </div>
        </div>
        <div class="grid grid-cols-1 mt-5">
            <div class="">
                <label for="status" class="w-full">Note</label>
                <textarea name="" class="bg-neutral-100 w-full px-4 py-2 mt-2 h-[200px]"
                    placeholder="Post Note" formControlName="note"></textarea>
            </div>
        </div>
        <div class="grid grid-cols-1 mt-5">
            <div class="">
                <label for="status" class="w-full">Status</label>
                <select id="status" class="bg-neutral-100 w-full px-4 py-2 mt-2" formControlName="status">
                    <option>Please select</option>
                    <option value="In-Progress">In-Progress</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
        </div>
        <div class="mt-5">
            <button type="submit" class="px-4 py-2 rounded bg-indigo-500 text-white">
                Publish
            </button>
        </div>
    </form>
</div>